/* You can add global styles to this file, and also import other style files */
.spinner-border {
    width: 3rem;
    height: 3rem;
}

.error-text {
    color: red;
    font-size: 12px;
}

.error-input {
    border: 1px solid red !important;
}