<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Livros</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Livros</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <!-- Formulário de Filtro -->
    <form (ngSubmit)="loadLivros()" class="mb-3">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Filtrar por Título" [(ngModel)]="filterTitulo"
            name="filterTitulo">
        </div>
        <div class="col">
          <select class="form-control mb-2 mr-sm-2" [(ngModel)]="filterAutor" name="filterAutor">
            <option value="0">Selecione um Autor</option>
            <option *ngFor="let autor of autores" [value]="autor.codAutor">{{ autor.nome }}</option>
          </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Filtrar</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="openModal()">Novo Livro</button>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-center" *ngIf="isLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>

    <table class="table table-striped" *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Título</th>
          <th>Editora</th>
          <th>Ano de Publicação</th>
          <th>Edição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.editora }}</td>
          <td>{{ livro.anoPublicacao }}</td>
          <td>{{ livro.edicao }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="openModal(true, livro)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="confirmDelete(livro)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="modalLivro" tabindex="-1" aria-labelledby="modalLivroLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ isEditing ? 'Editar Livro' : 'Novo Livro' }}</h5>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="livroForm" (ngSubmit)="saveLivro()">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" formControlName="titulo" id="titulo"
                      [ngClass]="{'error-input': livroForm.get('titulo')?.invalid && (livroForm.get('titulo')?.dirty || livroForm.get('titulo')?.touched)}">
                    <div
                      *ngIf="livroForm.get('titulo')?.invalid && (livroForm.get('titulo')?.dirty || livroForm.get('titulo')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('titulo')?.errors?.['required']">
                        O título é obrigatório.
                      </small>
                      <small class="error-text" *ngIf="livroForm.get('titulo')?.errors?.['maxlength']">
                        O título não pode ter mais que 40 caracteres.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="editora">Editora</label>
                    <input type="text" class="form-control" formControlName="editora" id="editora"
                      [ngClass]="{'error-input': livroForm.get('editora')?.invalid && (livroForm.get('editora')?.dirty || livroForm.get('editora')?.touched)}">
                    <div
                      *ngIf="livroForm.get('editora')?.invalid && (livroForm.get('editora')?.dirty || livroForm.get('editora')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('editora')?.errors?.['required']">
                        A editora é obrigatória.
                      </small>
                      <small class="error-text" *ngIf="livroForm.get('editora')?.errors?.['maxlength']">
                        A editora não pode ter mais que 40 caracteres.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="anoPublicacao">Ano de Publicação</label>
                    <input type="text" class="form-control" formControlName="anoPublicacao" id="anoPublicacao" mask="0000"
                      [ngClass]="{'error-input': livroForm.get('anoPublicacao')?.invalid && (livroForm.get('anoPublicacao')?.dirty || livroForm.get('anoPublicacao')?.touched)}">
                    <div
                      *ngIf="livroForm.get('anoPublicacao')?.invalid && (livroForm.get('anoPublicacao')?.dirty || livroForm.get('anoPublicacao')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('anoPublicacao')?.errors?.['required']">
                        O ano de publicação é obrigatório.
                      </small>
                      <small class="error-text" *ngIf="livroForm.get('anoPublicacao')?.errors?.['maxlength']">
                        Formato do ano inválido.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="edicao">Edição</label>
                    <input type="text" class="form-control" formControlName="edicao" id="edicao"
                      [ngClass]="{'error-input': livroForm.get('edicao')?.invalid && (livroForm.get('edicao')?.dirty || livroForm.get('edicao')?.touched)}">
                    <div
                      *ngIf="livroForm.get('edicao')?.invalid && (livroForm.get('edicao')?.dirty || livroForm.get('edicao')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('edicao')?.errors?.['required']">
                        A edição é obrigatória.
                      </small>
                    </div>
                  </div>
                </div>
              </div>       
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="autores">Autores</label>
                    <select class="form-control" formControlName="autoresIds" multiple
                      [ngClass]="{'error-input': livroForm.get('autoresIds')?.invalid && (livroForm.get('autoresIds')?.dirty || livroForm.get('autoresIds')?.touched)}">
                      <option *ngFor="let autor of autores" [value]="autor.codAutor">{{ autor.nome }}</option>
                    </select>
                    <div *ngIf="livroForm.get('autoresIds')?.invalid && (livroForm.get('autoresIds')?.dirty || livroForm.get('autoresIds')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('autoresIds')?.errors?.['required']">
                        Selecione pelo menos 1 autor.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="assuntos">Assuntos</label>
                    <select class="form-control" formControlName="assuntosIds" multiple
                      [ngClass]="{'error-input': livroForm.get('assuntosIds')?.invalid && (livroForm.get('assuntosIds')?.dirty || livroForm.get('assuntosIds')?.touched)}">
                      <option *ngFor="let assunto of assuntos" [value]="assunto.codAssunto">{{ assunto.descricao }}</option>
                    </select>
                    <div *ngIf="livroForm.get('assuntosIds')?.invalid && (livroForm.get('assuntosIds')?.dirty || livroForm.get('assuntosIds')?.touched)">
                      <small class="error-text" *ngIf="livroForm.get('assuntosIds')?.errors?.['required']">
                        Selecione pelo menos 1 assunto.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div formArrayName="precos">
                <div *ngFor="let preco of precos.controls; let i = index" [formGroupName]="i" class="form-group">
                  <label>Tipo de Compra:</label>
                  <select class="form-control mb-2 mr-sm-2" formControlName="tipoCompra">
                    <option value="">Selecione um Tipo de Compra</option>
                    <option value="1">Balcão</option>
                    <option value="2">Internet</option>
                    <option value="3">Eventos</option>
                    <option value="4">Outros</option>
                  </select>

                  <label>Valor (R$):</label>
                  <input type="text" class="form-control" formControlName="valor" mask="separator.2" prefix="R$ "
                    (ngModelChange)="onPrecoChange($event)" placeholder="Valor" />

                  <button (click)="removerPreco(i)" type="button" class="btn btn-danger">Remover</button>
                </div>
                <button (click)="adicionarPreco()" type="button" class="btn btn-primary mt-2 mb-2">Adicionar Tipo de
                  Compra</button>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>